.footer {
    background-color: #4C4AE6;
    color: #fff;
    font-style: italic;
    text-align: center;
    /*  1. MARGIN */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    margin: 10px 30px 25px 60px;;

    margin: 10px 30px; */

    /* margin: 10px; */
    /* 2. BORDER  */
    /* border: 2px solid red; */
    /* 3. PADDING */
    padding: 20px;
    font-size: 16px;
}
.navbar .image-container {
    display: none;
}