
/* Footer  */
.footer {
    background-color: #e6cee3d8;
    padding: 0.3rem;;
    padding: 0.3rem;
    align-items: center;
    margin-top: auto;
    width: 100%;
    
  
}
.footer .social_networks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer .social_networks img{
   width: 40px;
   border-style: none;
   margin: 10px;
}