.navmenu{
    display: none;
}

header{
    padding: 0.3rem;
    width: 100%;
    
}
picture img{
    max-width: 100%;
    max-height: 100%;
}

.div_title{
    justify-content: center;
    width: 100%;
    display: flex;
    justify-items: center;
    position: absolute;
    top: 232.20px;
    margin: 0;
}

@media screen and (min-width: 645px) {
    .navmenu{
        justify-content: center;
        width: 100%;
        display: flex;
        justify-items: center;
        position: absolute;
        top: 360px;
        margin: 0;
    }
   
    }
    .div_title{
        justify-content: center;
        width: 100%;
        display: flex;
        justify-items: center;
        position: absolute;
        top: 232.20px;
        margin: 0;
    }
    }
}
